.body-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    min-height: 50vh;
  }
  
  .section-team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(30% at right 70%);
  }

  
  .container-team {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  
  .container-team .card-team {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  
  .container-team .card-team .content-team {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .container-team .card-team:hover .content-team {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .container-team .card-team .content-team .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
  }
  
  .container-team .card-team .content-team .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-team .card-team .content-team .contentBx h2 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  .container-team .card-team .content-team .contentBx h2 span {
    font-size: 12px;
    font-weight: 300;
    text-decoration: initial;
  }
  
  .container-team .card-team .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-team .card-team .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
  }
  
  .container-team .card-team:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .container-team .card-team .sci li a {
    color: black;
    font-size: 24px;
  }

  html,
  body {
    margin: 0;
  }
  
  #chart {
    height: 100%;
    width: 100;
  }